<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<style>
	body {
		background-color: #0e0e0e;
	}
	
	#picture {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	
	.menu-container {
		margin: 0 auto;
	}
	
	form {
		color: white;
	}
	
	input,
	label {
		margin: 10px;
	}
	</style>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Random Perks</title>
</head>

<body onload="createMenu()">
	<img id="picture" src="data:image/png;base64,{{ img_data }}">
	<div style="width:1200px" class="menu-container">
		<button onclick="myFunction('menu')" class="w3-btn w3-block w3-black w3-center-align">Menu</button>
		<div id="menu" class="w3-container w3-hide" align="center">
			<form action="/testbed/Random-Perks/"></form>
		</div>
	</div>
	<script>
	function createMenu() {
		var form = document.getElementsByTagName("form")[0];
		var br = document.createElement("br"); 
		var survivors = {{  survivors_import | tojson | safe }};
		var query = {{  query_import | tojson | safe }};
		console.log(query)
		var i;
		for (i = 0; i < survivors.length; i++) {
			var box = document.createElement("input");
			box.setAttribute("type", "checkbox");
			box.setAttribute("class", "options");
			box.setAttribute("name", i+1);
			if (query.includes(i+1)) {
				box.checked = true;
			} else {
				box.checked = false;
			}
			var boxLabel = document.createElement("label");
			boxLabel.setAttribute("for", i+1);
			boxLabel.setAttribute("class", "options");
			boxLabel.innerHTML = survivors[i];
			form.appendChild(box);
			form.appendChild(boxLabel);
			form.appendChild(br.cloneNode());
		}
		var button = document.createElement("input");
		button.setAttribute("type", "submit");
		button.setAttribute("value", "Submit");
		form.appendChild(button);
	}
	
	function myFunction(id) {
		var x = document.getElementById(id);
		if(x.className.indexOf("w3-show") === -1) {
			x.className += " w3-show";
		} else {
			x.className = x.className.replace(" w3-show", "");
		}
	}
	</script>
</body>

</html>