<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<style>
	body {
		background-color: #0e0e0e;
	}
	
	#picture {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	
	.menu-container {
		margin: 0 auto;
	}
	
	form {
		color: white;
	}
	
	td {
		text-align: center;
		padding: 10px;
	}
	
	input[type='checkbox'] {
		display: none;
	}
	
	label img {
		height: 200px;
		filter: grayscale(100%);
		cursor: pointer;
	}
	
	:checked + label img {
		filter: grayscale(0%);
	}
	</style>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Random Perks</title>
</head>

<body onload="createMenu()">
	<img id="picture" src="data:image/png;base64,{{ img_data }}"/>
	<div style="width:1200px" class="menu-container">
		<button onclick="myFunction('menu')" class="w3-btn w3-block w3-black w3-center-align">Menu</button>
		<div id="menu" class="w3-container w3-hide" align="center">
			<form action="/testbed/Random-Perks/"></form>
		</div>
	</div>
	<script>
	function createMenu() {
		var form = document.getElementsByTagName("form")[0];
		var tbl = document.createElement('table');
		var br = document.createElement("br"); 
		var survivors = {{  survivors_import | tojson | safe }};
		var query = {{  query_import | tojson | safe }};
		var x;
		var count = 0;
		
		// tbl.setAttribute('border', '1');
		var tbdy = document.createElement('tbody');
		while (count < survivors.length) {
			let row = tbdy.insertRow();
			for (x = 0; x < 6; x++){
				if (count < survivors.length){
					let cell = row.insertCell();
					var box = document.createElement("input");
					box.setAttribute("type", "checkbox");
					box.setAttribute("class", "options");
					box.setAttribute("name", count+1);
					box.setAttribute("id", count+1);
					if (query.includes(count+1)) {
						box.checked = true;
					} else {
						box.checked = false;
					}
					var boxLabel = document.createElement("label");
					boxLabel.setAttribute("for", count+1);
					boxLabel.setAttribute("class", "options");
					boxLabel.innerHTML = "<img src=\"{{ url_for("static", filename="images/survivors/") }}" + count + ".png\" /><br>" + survivors[count];
					cell.appendChild(box);
					cell.appendChild(boxLabel);
					cell.appendChild(br.cloneNode());
					count++;
				}
			}
		}
		tbl.appendChild(tbdy)
		form.appendChild(tbl)
		var button = document.createElement("input");
		button.setAttribute("type", "submit");
		button.setAttribute("value", "Submit");
		form.appendChild(button);
	}
	
	function myFunction(id) {
		var x = document.getElementById(id);
		if(x.className.indexOf("w3-show") === -1) {
			x.className += " w3-show";
		} else {
			x.className = x.className.replace(" w3-show", "");
		}
	}
	</script>
</body>

</html>